* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #506595;
  color: rgb(246, 246, 242);
  line-height: 1.6;
}

/* NAVBAR */
header {
  background: #020617;
  padding: 15px 50px;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #29a2d5;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.profile-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 25px;
  border: 5px solid #1da9db;
  box-shadow: 0 0 25px rgba(65, 137, 168, 0.6);
  transition: 0.3s;
}

.profile-img:hover {
  transform: scale(1.05);
}

/* SECTIONS */
section {
  padding: 60px 80px;
}

h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

/* CARDS */
.card {
  background: #1e293b;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* LINKS */
a {
  color: #38bdf8;
}

/* CONTACT */
#contact {
  text-align: center;
}